<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th class="text-right">Shame Count</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td class="text-right"><%= user.liked_messages.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col"></div>
  </div>
</div>
