<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <%= link_to 'Humilamotron', root_path, class: 'navbar-brand', method: :get %>
    <a class="navbar-brand" href="https://github.com/lnestor/humilamotron">
      <%= image_tag('GitHub-Mark-32px.png') %>
    </a>
  </div>
</nav>
